#bg_wallpaper  {
    background-image: url("image/wallpaper.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: auto;
}

.func_title {
    text-align: center;
    /*padding-top: 10vh;*/
    margin-top: 10vh;
    margin-bottom: 5vh;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: 800;
    color: #ffffff;
}

.functions {
    background-color: #32A095;
    opacity: 0.8;
    height: 40rem;
    width: 100%;
    position: relative;
    margin-bottom: 10vh;
    /*margin-top: 5vh;*/

}

.functions:hover   {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    background-color: #a42687;
    animation: functionanimation 100ms;
    /*-webkit-animation: functionanimation 100ms;*/
}

.func_txt   {
    position: relative;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
    height: 90%;
    color: #000000;
    font-size: 1em;
}

.func_txt h3 {
    margin-top: 0;
    color: #ffffff;
    font-weight: 400;
}

.func_txt p {
    text-align: left;
    font-size: 1.5rem;
    color: #ffffff ;
}

.button_check_us {
    background-color: transparent;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    display: inline-block;
    cursor: pointer;
    color:#000000;
    font-size: 17px;
    /*margin-top: auto;
    margin-bottom: 5vh;*/
    padding: 5px 15px;
    text-decoration: none;
}

.button_check_us:hover {
    background-color:transparent;
    border-top: 2px solid #fff900;
    border-bottom: 2px solid #fff900;
}

.button_check_us:active {
    position: relative;
    top:2px;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none!important;
    color: black!important;
}

a.active    {
    text-decoration: none!important;
    color: black!important;
}
}

@-webkit-keyframes functionanimation {
    /*  0% { transform: skewY(4deg); }
      25% { transform: skewY(-3deg); }
      50% { transform: skewY(2deg); }
      75% { transform: skewY(-1deg); }
      100% { transform: skewY(0deg); }*/
}
@keyframes functionanimation {
    0% { transform: skewY(4deg); }
    25% { transform: skewY(-3deg); }
    50% { transform: skewY(2deg); }
    75% { transform: skewY(-1deg); }
    100% { transform: skewY(0deg); }
}
/***********************************
 TU JE KUNIEC STYLÓW DO SEKCJI FUNKCJEEEEE