
/* counter */
.content-bg1 {
    box-sizing: border-box;
    background-image: url("image/photo_fitnes.jpg");
    color: #fff;
    width: 100%;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}



.counter {
    display: flex;
    justify-content: space-around;
    background: url(image/background-section2.jpg) repeat ;
    color: #FACC51;
    border-radius: 2%;
    font-family: Orbitron, sans-serif;
    padding: 5%;
    font-size: 2.5rem;
}

.contact-section{
    text-align: center;
    padding-top: 5vh;
}

.contact-section img {
    padding-bottom: 3vh;
}

.contact-section h1 {
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-weight: 800;
    padding-top: 5vh;
}

#days, #hours, #minutes, #seconds {
    text-align: center;
}

.startujemy {
    padding-bottom: 10px;
}

footer  {
    background-color: #1A1B1D;
    color: #909090  ;
}
footer li {
    list-style-type: none;
}
footer li a {
    text-decoration: none;
    color: #909090;
}

.copyright {
    text-align: center;
    padding-left: -15px;
    padding-right: -15px;
}






.text-motive {
    padding-top: 10%;
    padding-bottom: 10%;

}

#countdown {
    margin-top: 20px;
}

.social-media-icons img {
    max-width: 50px;
    float: left;
    padding: 2%;
}

.panel-collapse {
    background-color: #000000;
}

.panel-body {
    border: none;
}
.panel {
    border:none;
}

.panel-title {
    color: #909090;
}
.panel-default > .panel-heading {
    background-color: #1A1B1D;
}

.follow{
    padding-left: 55px;
}

@media (max-width: 768px) {
    .follow {padding-left: 15px;}
}
