.backg{
    background-image: url("image/training.jpeg");
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url('image/head-background-2.jpg');
    text-align: center;

}
.texth1{
    float: left;
    width: 60%;
    text-align: left;
    font-size: 20px;
}

.quote{
    background-color: #ffffff;
    font-size: 25px;
    padding-bottom: 3px;
    padding-top: 10px;
    color: #000000;
    text-align: center;
    padding-top: 5vh;
    max-width: 100%;
}

.zapis {
    background-color: rgba(255, 0, 0, 0.5);
    padding: 12px 20px 50px 30px;
    height: auto
    color: #ffffff;
    font-size: larger;
    margin-top: -320px;
}

.formbg {
    color: #ffffff;
    text-align: left;

.btn {
    background-color: #219f94;
    border: none;
    padding: 10px 50px 10px 50px;
    font-size: larger;
    transition: background 1s;
    color: #ffffff;
    border-radius: 0%;
}

.btn:hover{
    background-color: #ff0000;
    color: #ffffff;
}

.h11{
    font-size: 30px;
    text-align: left;
}
.teamsec{
    background-image: url("image/exa.png");
    color: #ffffff;
}


h1 {
    text-align: center;
    margin-bottom: 3%;
    font-size: 50px;

}
h2 {
    font-size: 25px;
}
.tile{
    border: 2px solid black;
    text-align: center;
    padding: 8px;
    background-color: rgba(147, 112, 219, 0.6);
    margin-bottom: 10%;
    font-size: 16px;

}

.tile:hover {
    background-color: rgba(255, 0, 0, 0.6);
    width: 110%;
    transition background: 3s;
}

.tile img{
    width: 100%;