.teamsec{
    background-image: url("image/swirl.png");
    color: #ffffff;
    padding-bottom: 5%;
}
.title{
    text-align: center;
    color: #000;
}

.card{
    margin:
}

.img100p{
    width: 100%;
}

.img100gif{
    width: 100%;
    height: 263px;
    position: relative;
}

.nick{
    position: absolute;
    top: 70%;
    width: 100%;
    color: #FFF;
    background-color: rgba(164, 38, 135, 0.5);
    padding-left: -20px;



}
/*Tutaj zaczynaja sie cssy do formularza*/

.backg{
    background-image: url("image/backkettle.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
}




}

.header1 {
    font-size: 50px;
    font-style: italic;
    text-transform: capitalize;
    font-size: 50px;

}
.back{
    text-align: center;

}

.texth1{
    float: left;
    width: 60%;
    text-align: left;
    font-size: 20px;
}

.quote{
    font-size: 25px;
    padding-bottom: 3px;
    padding-top: 10px;
    color: #000000;
    text-align: center;
    max-width: 100%;
}


.zapis{
    background-color: rgba(164, 38, 135, 0.5);
    padding: 12px 20px 50px 30px;
    height: auto
    color: #ffffff;
    font-size: larger;

}
.h11{
    font-size: 30px;
    text-align: left;
}

.formbg {
    color: #ffffff;
    text-align: left;
}

.form-control{
    border: none;
    border-radius: 0%;
}

.btn {
    background-color: #219f94;
    border: none;
    padding: 10px 50px 10px 50px;
    font-size: larger;
    transition: background 1s;
    color: #ffffff;
    border-radius: 0%;
}
.btn:hover{
    background-color: #ff0000;
    color: #ffffff;
}