html, body {
    font-family: Arial, sans-serif!important;
    overflow-x: hidden;
    -ms-overflow-x: hidden;

}
section {
    position: relative;
}
.se-container {
    display: block;
    width: 100%;
}
.cont_aboutY {
    transform: rotate(-2deg);
}

.se-slope   {
    margin: 0 -50px;
    padding: 50px 100px 200px 50px;
    -webkit-transform-origin: right bottom;
    -moz-transform-origin: right bottom;
    -o-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    transform-origin: right bottom;
    background: #dedede;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(2deg);
}

ul.nav.navbar-nav {
    float: right;
}

.navbar-default {
    background-color: rgba(255, 255, 255, 0.5);
    border-color: rgba(34, 34, 34, 0.05);
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand {
    padding: 0vh 20vh 0vh 2vh;
}
.navbar-default .navbar-header .navbar-brand:hover {

    animation:logoanimation 1s;
    -webkit-animation:logoanimation 1s;


}
.navbar-default .navbar-header .navbar-toggle {
    font-weight: 700;
    font-size: 20px;
    color: #222222;
    text-transform: uppercase;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: #222222;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
    color: #000000;
    background-color: rgba(255, 255, 255, 0.7);
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
    color: #32a095;
    background-color: rgba(255, 255, 255, 0.5);
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
    background-color: transparent;
}

.home-section-items img {
    padding: 0;
    position: absolute;
    z-index: 1;
}

#home-button-left {
    background-color: #32a095;
    border: none;
}

#home-button-left:hover {
    animation:buttonanimation 1s;
    -webkit-animation:buttonanimation 1s;
}

#home-button-right {
    background-color: #761b61;
    border: none;
}

#home-button-right:hover {
    background-color: #a42687;
    border: none;
}

.first-section {
    text-align: center;
}


.first-section h1 {
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-weight: 800;
    padding-top: 5vh;
}

.first-section p {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.circle {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
}

#cir-1 {
    border: 10px solid #9fc2bb;
}

#cir-2 {
    border: 10px solid #9aaaba;
}

#cir-3 {
    border: 10px solid #f9f2a2;
}

#cir-4 {
    border: 10px solid #bc866c;
}

.glyphicon{
    font-size: 60px;
    padding-top: 20px;
}

@media(max-width: 767px) {
    ul.nav.navbar-nav {
        float: none;
    }

    [class*="col-"] {
        padding-left: 0;
        padding-right: 0;
    }
}


@-webkit-keyframes logoanimation {
    0% {-webkit-transform: scale(1);}
    10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);}
    30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);}
    40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);}
    100% {-webkit-transform: scale(1) rotate(0);}
}
@keyframes logoanimation {
    0% {transform: scale(1);}
    10%, 20% {transform: scale(0.9) rotate(-3deg);}
    30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);}
    40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);}
    100% {transform: scale(1) rotate(0);}
}

@-webkit-keyframes buttonanimation {
    0% { -webkit-transform: skewX(9deg); }
    10% { -webkit-transform: skewX(-8deg); }
    20% { -webkit-transform: skewX(7deg); }
    30% { -webkit-transform: skewX(-6deg); }
    40% { -webkit-transform: skewX(5deg); }
    50% { -webkit-transform: skewX(-4deg); }
    60% { -webkit-transform: skewX(3deg); }
    70% { -webkit-transform: skewX(-2deg); }
    80% { -webkit-transform: skewX(1deg); }
    90% { -webkit-transform: skewX(0deg); }
    100% { -webkit-transform: skewX(0deg); }
}
@keyframes buttonanimation {
    0% { transform: skewX(9deg); }
    10% { transform: skewX(-8deg); }
    20% { transform: skewX(7deg); }
    30% { transform: skewX(-6deg); }
    40% { transform: skewX(5deg); }
    50% { transform: skewX(-4deg); }
    60% { transform: skewX(3deg); }
    70% { transform: skewX(-2deg); }
    80% { transform: skewX(1deg); }
    90% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }
}

