
/* counter */
.content-bg1 {
    box-sizing: border-box;
    background-image: url("image/photo_fitnes.jpg");
    color: #fff;
    width: 100%;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
 }


.counter {
    display: flex;
    justify-content: space-around;
    background: url(image/background-section2.jpg) repeat ;
    color: #FACC51;
    border-radius: 2%;
    font-family: 'Electrolize', sans-serif;
    padding: 5%;
    font-size: 2.5rem;
}

.startujemy {
    padding-bottom: 10px;
}

footer  {
    background-color: #1A1B1D;
    color: #909090  ;
}
footer li {
    list-style-type: none;
}
footer li a {
    text-decoration: none;
    color: #909090;
}

.copyright {
    text-align: center;
    padding: 1%;
}


@media (min-width: 768px) {
    .col-lg-3 img {
        width: 100px;
    }

}


.text-motive {
    padding-top: 10%;
    padding-bottom: 10%;

}

#countdown {
    margin-top: 20px;
}

.social-media-icons img {
    max-width: 50px;
    float: left;
    padding: 2%;
}

.panel-collapse {
    background-color: #000000;
}

.panel-body {
    border: none;
}
.panel {
    border:none;
}

.panel-title {
    color: #909090;
}
.panel-default > .panel-heading {
    background-color: #1A1B1D;
}

.follow{
    padding-left: 55px;
}

@media (max-width: 768px) {
.follow {padding-left: 15px;}
}

